* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font: 14px "Century Gothic", Futura, sans-serif;
  }
  
  .App {
    text-align: center;
    font-size: 24px;
  }
  
  .board {
    display: flex;
    justify-content: center;
  }
  
  .square {
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    line-height: 34px;
    height: 34px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .board-row:after {
    display: table;
    clear: both;
    content: "";
  }
  
  .submit-button-cont {
    margin-top: 10px;
  }
  
  .submit-board-status {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bolder;
  }
  
  .tutorial-wrapper {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 10px;
  }